<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Auto Layout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FED15AEF1F7D0E66002BA0FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FED15B031F7D0E66002BA0FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FED15B0E1F7D0E66002BA0FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
